NET "clk" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "hso" LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "vso" LOC = "B11" | IOSTANDARD = LVCMOS33;
NET "ro<0>" LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "ro<1>" LOC = "B8" | IOSTANDARD = LVCMOS33;
NET "ro<2>" LOC = "B3" | IOSTANDARD = LVCMOS33;
NET "ro<3>" LOC = "A3" | IOSTANDARD = LVCMOS33;
NET "go<0>" LOC = "D6" | IOSTANDARD = LVCMOS33;
NET "go<1>" LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "go<2>" LOC = "D5" | IOSTANDARD = LVCMOS33;
NET "go<3>" LOC = "C5" | IOSTANDARD = LVCMOS33;
NET "bo<0>" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "bo<1>" LOC = "B9" | IOSTANDARD = LVCMOS33;
NET "bo<2>" LOC = "D7" | IOSTANDARD = LVCMOS33;
NET "bo<3>" LOC = "C7" | IOSTANDARD = LVCMOS33;

